#colors() {
    
    //menu
    @headerAndBestScores-font-color: mix(#fffedb, gold, 80%);
    @link-hover: gold;

    @main-button-background-color: rgb(231, 15, 15);
    @main-button-font-color: #fffee0;
    @main-button-hover-background-color: darken(spin(@main-button-background-color, 110), 15%);
    @main-button-hover-font-color: tint(#ede618, 30%);

    @switchsound-button-background-color: #a3fff6;

    // options
    @options-cards-number-hint: rgb(179, 118, 84);
    @score-stats-font-color: rgb(10, 148, 212);
    @score-squinting-stats-font-color: rgb(204, 40, 34);
    @clock-time-color: rgb(187, 218, 50);
    @time-no-background-color: rgba(241, 47, 47, .8);
    @time-yes-background-color: rgba(96, 212, 96, .8);

    //end screen
    @end-screen-font-color:rgb(3, 146, 10);
    @end-screen-decreased-font-color: rgb(204, 40, 34);
    @end-screen-text-shadow-color: 2px 2px 4px rgb(231, 208, 208);
    @optionAndEnd-button-background-color: rgb(9, 131, 231);
    @optionAndEnd-button-hover-background-color: rgb(12, 112, 170);

}

#gradient(){
    @card-background-color: repeating-linear-gradient(150deg, rgb(227, 228, 228) 5%, rgb(127, 169, 233) 8%);
}