@import "./variables.less";

@keyframes show{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes hide{
    from{opacity: 1;}
    to{opacity: 0; cursor: default}
}
@keyframes squintingTimer{
    from {color: inherit}
    to {color: @score-squinting-stats-font-color}
}
@keyframes bestScore{
    from {
        font-size: inherit;
    }
    to{
        // background-color: blue;
        width: 100%;
        font-size: 6.5rem;
        top: 45%;
        left: 50%;
        transform: translate(-50%; -50%);
    }
}

@keyframes active{
    from{
        // border: 7px solid transparent;
        content: ""
    }
    to{
        // border: 7px solid pink;
        content: "t";
        position: absolute;
        left: 10%;
        
    }
}