
#game_bestScores{
    display: none;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
    .tableScores{
        padding-top: 50px;    
        table{
            margin: auto;
            width: 90%;
            border-collapse: collapse;
            tbody{
                width: 90%;
                td{
                    padding:  10px 50px;
                    .border(1px, white); 
                }
                td:first-child{
                    padding-right: 40px;
                }
            }
        }
    }
 
    .buttons{
        .buttons;
        bottom: 5%;
        left: 34%;
    }
}