@import "./variables.less";


#game_end{
     display: none;
    text-align: center;
    font-size: 3em;
    position: relative;
    width: 100%;
    height: 100%;
    .wrapper{
        width: 100%;
        height: 100%;
        .message{
            font-size: 2.8rem;
            margin-top: 80px;
            .message_segment{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 85%;
                margin: auto;
                color: green;
                &#madeMoves{
                    color: red;
                }
                &#totalPoints{
                    position: absolute;
                    bottom: 40%;
                    font-size: 4.5rem;
                    color: green;
                    width: 90%;
                    text-align: center;.message_segment_description{
                        width: 40%;
                    } 
                    .message_segment_score{
                        width: 50%;
                    }
                }
                
            .message_segment_description{
                width: 40%;
            } 
            .message_segment_score{
                width: 57%;
            }
            }
            // display: block;
            text-align: left;
            margin: 30px;
            // margin-top: 100px;
            // opacity: 0;
            text-shadow: @end-message-text-shadow-color;
        }
        .video{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 700px;
            margin: 0 auto;
            video{
                width: 100%;
                border: 5px solid black;
                border-radius: 15px;
            }
        }
        .buttons{
            .buttons
        }
    }

}
@media all and (orientation: landscape) and (max-device-width: 800px){
    #game_end{
        font-size: 5em;
        .wrapper{
            .message{
                margin-top: 40px;
            }
            .video{
                width: 95%;
            }
            .buttons{
                bottom: 20%;
                .button{
                    padding: 10px;
                    button{
                        font-size: .8em;
                    }
                }
            }
        }
    }
}
@media all and (orientation: portrait) and (max-device-width: 800px){
    #game_end{
        font-size: 7em;
    }
}