
.option{
    display: inline-block;
    width: 120px;
    height: 120px;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 6px;
    opacity: .55;
}

#game_options{
    display: none;
    width: 90%;
    margin: 100px auto;
    .option_step{
        display: flex;
        justify-content: center;
        align-items: center;
        .border(7px, rgb(194, 145, 117), 20px);
        backdrop-filter: brightness(160%);
        padding: 12px;
        margin: 40px auto;
        .option_description{
            display: inline-block;
            width: 43%;
            text-align: center;
            font-size: 2.2em;
        }
        .options{
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            width: 65%;
            .option{
                .option;
                .border(7px, black); 
                background-image: #gradient[@card-background-color];
                img{
                    width: 100%;
                }
                .optHint{
                    position: absolute;
                    bottom: -10px;
                    right: -10px;
                    font-size: 2.7em;
                    font-weight: 700;
                    color: rgb(179, 118, 84);
                    font-family: 'RocknRoll One', sans-serif;
                    text-shadow: 2px 2px 2px rgb(0, 0, 0);
                }
            }
            .timerNo{
                .option;
                background-image: none;
                background-color: rgba(241, 47, 47, 0.8);
            }
            .timerYes{
                .option;
                background-image: none;
                background-color: rgba(96, 212, 96, .8);
            }
            .clock{
                position: relative;
                width: 265px;
                display: none;
                img{
                    width: 100%;
                }
                .clockTime{
                    width: 100%;
                    text-align: center;
                    .center();
                    font-size: 2.5rem;
                    font-family: 'Orbitron', sans-serif;
                    letter-spacing: 1.2px;
                    color: #colors[@clockTime-color];
                    .clockTimeDisplay{
                        width: 56%;
                        display: inline-block;
                        margin: auto;
                    }
                    .updateTime{
                        width: 7%;;
                        font-size: 2.5rem;
                        display: inline-block;
                        margin: auto;
                        & button{
                            background-color: transparent;
                            outline: none;
                            border: none;
                            color: inherit;
                            font-size: 100%;
                            font-weight: 700;
                            cursor: pointer;
                        }
                    }
                }
            }
            .active{
                .border(7px, rgb(255, 187, 0));
                opacity: 1;
            }
        }
    }
    .buttons{
        .buttons;
        font-size: 1.8em;
    }
}
@media @mobile_landscape{
    #game_options{
        margin-top: 30px;
        .option_step{
            .option_description{
                font-size: 1.6em;
                width: 20%;
                text-align: left;
            }
            .options{
                width: 80%;
                .option{
                    width: 92px !important;
                    height: 92px !important;
                    .optHint{
                        font-size: 1.6em;
                    }
                }
                .clock{
                    width: 170px;
                    .clockTime{
                        font-size: 1.5rem;
                        .updateTime{
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
        .buttons{
            bottom: 5%;
            button{
                font-size: .5em;
            }
        }
    }
}
@media @mobile_portrait{
    #game_options{
        .option_step{
            margin: 100px auto;
            .option_description{
                width: 20%;
                text-align: left;
            }
            .options{
                width: 70%;
                .clock{
                    width: 260px;
                }
            }
        }
    }
}