@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import "./door.less";
@import "./variables.less";

.header-font{
    color: @header-font-color;
    letter-spacing: 5px;
}
#game_start{
    // display: none;
    text-align: center;
    font-size: 1.5em;
    opacity: .9;
    width: 70%;
    margin: auto;
    padding-top: 30px;
    header{
        .header-font;
        & *{
            margin: 4px auto;
        }
    }
    section.main_buttons{
        margin: 90px 0;
        & .main_button{
            margin: 50px auto;
            padding: 20px;
            background-color: @main-button-background-color;
            color: @main-button-font-color;
            width: 70%;
            transform: skew(-15deg);
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                background-color: @main-button-hover-background-color;
                color: @main-button-hover-font-color;
            }
            span{
                display: inline-block;
                transform: skew(15deg);
            }
        }
    }
    .switch_sound{
        position: absolute;
        bottom: 30px;
        right: 50px;
        background-color: @switchsound-button-background-color;
        padding: 10px 10px 5px;
        cursor: pointer;
        img{
            width: 32px;
        }
    }
    
    
}

@media all and (orientation: landscape) and (max-device-width: 800px){
    #game_start{
        header{
            font-size: 15px;
        }
        section.main_buttons{
            margin: 50px 0;
            & .main_button{
                margin: 30px auto;
                padding: 10px;
                font-size: 1.3rem;
                width: 90%;
            }
        }
    }
}
@media all and (orientation: portrait) and (max-device-width: 800px){
    #game_start{
        header{
            font-size: 1.2em;
        }
        section.main_buttons{
            & .main_button{
                margin: 55px auto;
                padding: 20px;
                font-size: 1.9rem;
                width: 90%;
            }
        }
        .switch_sound{
            position: absolute;
            bottom: 30px;
            right: 50px;
            background-color: @switchsound-button-background-color;
            padding: 10px 10px 5px;
            cursor: pointer;
            img{
                width: 64px;
            }
        }
    }
}