@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');
@import "./door.less";
@import "./variables.less";

.header-font{
    color: @header-font-color;
    letter-spacing: 5px;
}
#game_start{
    // display: none;
    text-align: center;
    font-size: 1.5rem;
    opacity: .9;
    width: 70%;
    margin: auto;
    padding-top: 30px;
    header{
        .header-font;
        & *{
            margin: 4px auto;
        }
    }
    section.main_buttons{
        margin: 90px 0;
        & .main_button{
            margin: 50px auto;
            padding: 20px;
            background-color: @main-button-background-color;
            color: @main-button-font-color;
            width: 70%;
            transform: skew(-15deg);
            font-size: 1.5rem;
            cursor: pointer;
            &:hover{
                background-color: @main-button-hover-background-color;
                color: @main-button-hover-font-color;
            }
            span{
                display: inline-block;
                transform: skew(15deg);
            }
        }
    }
    .switch_sound{
        position: absolute;
        bottom: 30px;
        right: 50px;
        background-color: @switchsound-button-background-color;
        padding: 10px 10px 5px;
        cursor: pointer;
        img{
            width: 32px;
        }
    }
    
    
}