@import "./start_screen";
@import "./play";
@import "./options";
@import "./best_scores";
@import "./end_screen";
@import "./animations";

html{
    height: 100%;
}
body{
    background-color: green;
    background-image: url(../images/background-forest.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Stick', sans-serif;
}
a{
    color: inherit;
    text-decoration: none;
    &:hover{
        color: gold;
    }
}
.container{
    border: 11px solid black;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    height: 800px;
}
.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    background-image: url(../images/wooden.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
#overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 9999;
    display: none;
}

@media all and (orientation: landscape) and (max-device-width: 800px) {
    .container{
        top: 50%;
        width: 65%;
        max-height: 95%;
    }
}

@media all and (orientation: portrait) and (max-device-width: 800px) {
    .container{
        top: 40%;
        width: 95%;
        height: 900px;
    }
}