//spash screen
@header-font-color: #fffedb;

@main-button-background-color: rgb(231, 15, 15);
@main-button-font-color: #fffee0;
@main-button-hover-background-color: #3fb007;
@main-button-hover-font-color: #ede618;

@switchsound-button-background-color: #a3fff6;

@clockTime-color: rgb(187, 218, 50);

//game board
@card-background-color: repeating-linear-gradient(150deg, rgb(227, 228, 228) 5%, rgb(127, 169, 233) 8%);
@score-stats-font-color: rgb(10, 148, 212);
@score-squinting-stats-font-color: rgb(204, 40, 34);

//end screen
@end-message-text-shadow-color: 2px 2px 4px rgb(231, 208, 208);
@optionAndEnd-button-background-color: rgb(9, 131, 231);
@optionAndEnd-button-hover-background-color: rgb(12, 112, 170);

.buttons{
    position: absolute;
    bottom: 30%;
    width: 100%;
    justify-content: space-around;
    button{
        .button
    }
}
.button{
    background-color: @optionAndEnd-button-background-color;
    padding: 10px 30px 15px;
    border-radius: 22px;
    color: white;
    font-size: 2.5rem;
    border: none;
    outline: none;
    font-family: inherit;
    min-width: 250px;
    &:hover{
        cursor: pointer;
        background-color: @optionAndEnd-button-hover-background-color;
    }
}

.option{
    display: inline-block;
    width: 120px;
    height: 120px;
    position: relative;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 6px;
    opacity: .55;
}