body{
    background-color: red;
}
#game_board{
   width: 600px;
   position: absolute;
    padding: 25px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
        background-color: black;
}
.card{
    margin: 5px;
    border: 2px solid red;
    box-sizing: border-box;
    text-align: center;
    transition: all .3s linear;
    filter: brightness(70%);
    cursor: pointer;
    /* background-image: url(../images/HTFLogo.png); */
    background-size: cover;
}
.card:hover{
    filter: brightness(90%);
}
@keyframes showAnimal{
    0%{
        width: 100px;
    }
    50%{
        width: 0%;
        /* background-image: url(images/HTFLogo.png) */
    }
    100%{
        width: 10px;
        /* background-image: url(images/HTFLogo.png) */
    }
}
.card img{
    width: 100%;
    height: 100%;
}
.card img:hover{
/*    animation: showAnimal 1s infinite;*/
}