#page_best_scores {
    .tableScores {

        font-size: 1.4rem;
        font-weight: 700;
        text-align: center;
        margin: 50px auto;
        width: 90%;
        border-collapse: collapse;
        color: #colors[@headerAndBestScores-font-color];

        tbody {
            width: 90%;

            td {
                padding: 10px 50px;
                .border(1px, white);
            }

            td:first-child {
                padding-right: 40px;
            }
        }
    }
    
    .buttons {
        .buttons;
    }
}

// @media @mobile_landscape {
//     #page_best_scores {
//         .tableScores {
//             font-size: 1.1em;
//             padding-top: 25px;
            
//             tbody {
//                 td {
//                     padding: 10px 40px;
//                 }
//             }
//         }
//         .buttons {
//             bottom: 5%;
//             button {
//                 font-size: 1rem;
//             }
//         }
//     }
// }
@media @mobile_portrait {
    #page_best_scores {
        .tableScores {
            font-size: 1.1em;
            padding-top: 25px;
            tbody {
                td {
                    padding: 10px 40px;
                }
            }
        }

        .buttons {
            bottom: 5%;
            button {
                font-size: 1.25em;
            }
        }
    }
}